<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.springcloudAlibaba.dao.PaymentDao">

    <resultMap id="BaseResultMap" type="com.demo.springcloudAlibaba.entities.Payment">
        <!--  column对应数据库    property对应java实体    jdbcType:JdbcType类型和Java类型的对应关系-->
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <id column="serial" property="serial" jdbcType="VARCHAR"></id>
    </resultMap>
<!--   useGeneratedKeys判断返回大于0插入成功                      keyProperty主键                               -->
    <insert id="create" parameterType="com.demo.springcloudAlibaba.entities.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values(#{serial})
    </insert>
    <!--  resultMap做返回映射 -->
    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select * from payment where id = #{id}
    </select>
</mapper>